.balloon-wrap {
    position: relative;
    max-width: 400px;
    width: 30%;
    bottom: 0;
    left: 0;
}
#balloon {
    position: fixed;
    max-width: 275px;
    bottom: 0;
    left: 0;
    animation: fadeInUp 3s;
    width: 30%;
    padding: 20px;
}
#balon-img {
    width: 100%;
    margin-inline: auto;
}
.btn-send {
    background: #000;
    width: 100%;
    font-family: sans-serif;
    color: #fff;
    padding: 12.5px 20px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin: 15px auto 0;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

